<h1>Hello There! I am Clement</h1>
<p>From Fremont, CA</p>
<p>Junior student</p>
<p>Fun fact: Did parkour my first and second years of school</p>
<p>Excited for: Finally learning about how complex websites work so I can help change them</p>
